body{
  font-family: 'Zen Dots', cursive;
  cursor: url(cursor-click.cur), auto;
}
.create .create-box{
  background-color: #fff;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.create .level{
  position: absolute;
  display: flex;
  /* flex-wrap: nowrap; */
  width: 390px;
  height: 70px;
  left: 0;
  right: 0;
  margin: auto;
  top: 10px;
  color: #fff;
  cursor: url(cursor.cur), auto;
}
.create .level .level1{
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #5a5a5a;
}
.create .level .level2{
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #5a5a5a;
}
.create .level .level3{
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #5a5a5a;
}
.create .level .level1:hover,
.create .level .level2:hover,
.create .level .level3:hover{
  transition: .3s;
  background-color: #969696;
}
.create .create-box .board table{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 25rem;
  height: 25rem;
  border-spacing: 0;
  border: 1px solid black;
  cursor: url(cursor.cur), auto;
}
.create .create-box .board table td{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #fff;
}
.create .create-box .board table td.black{
  background-color: #000;
}
.create .create-box .board table td:hover{
  background: #000;
}
.create .create-box .plus{
  position: absolute;
  right: 0;
  left: 0;
  color: #fff;
  bottom: 30px;
  margin: auto;
  font-size: 30px;
  width: 150px;
  height: 50px;
  background-color: #969696;
  text-align: center;
  line-height: 50px;
  cursor: url(cursor.cur), auto;
}
.create .create-box .plus:hover{
  transition: .3s;
  background-color: #5a5a5a;
  color: #dcdcdc;
}

/* 돌아가기 버튼 */
.return a{
  left: 25px;
  top: 10px;
  position: absolute;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  text-decoration-line: none;
}
.return a:hover{
  transition: .3s;
  color: #5a5a5a;
  cursor: url(cursor.cur), auto;
}