body{
  position: relative;
  cursor: url(cursor-click.cur), auto;
  width: 100vw;
  height: 100vh;
  background-color: #a5a5a5;
  /* #969696 */
  margin: 0;
  padding: 0;
  font-family: 'Zen Dots', cursive;
  /* 임시 */
  color:black;
  background-image: linear-gradient(
      45deg,
      #969696 25%,
      transparent 25%,
      transparent 75%,
      #969696 75%,
      #969696
    ),
    linear-gradient(
      -45deg,
      #969696 25%,
      transparent 25%,
      transparent 75%,
      #969696 75%,
      #969696
    );
  background-size: 60px 60px;
  background-position: 0 0;
  animation: slide 4s infinite linear;
}
.sql{
  /* display: none; */
}
/* main */
.main .main-box{
  position: absolute;
  width: 610px;
  height: 300px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.main .main-box h1{
  font-size: 70px;
  text-align: center;
  line-height: 60px;
}
.main .main-box .start-btn,
.main .main-box .create-btn,
.main .main-box .tuto-btn{
  position: absolute;
  background-color: #969696;
  font-weight: 550;
  font-size: 30px;
  width: 150px;
  height: 60px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  cursor: url(cursor.cur), auto;
}
.main .main-box .start-btn{
  left: 230px;
}
.main .main-box .create-btn{
  left: 410px;
}
.main .main-box .tuto-btn{
  left: 50px;
}
.main .main-box .start-btn:hover,
.main .main-box .create-btn:hover,
.main .main-box .tuto-btn:hover{
  transition: .3s;
  background-color: #5a5a5a;
  color: #dcdcdc;
}


@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -120px 60px;
  }
}