body{
  font-family: 'Zen Dots', cursive;
  cursor: url(cursor-click.cur), auto;
}
.return a{
  left: 25px;
  top: 10px;
  position: absolute;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  text-decoration-line: none;
}
.return a:hover{
  transition: .3s;
  color: #5a5a5a;
  cursor: url(cursor.cur), auto;
}
.start .start-box{
  position: absolute;
  padding: unset;
  width: 920px;
  /* 앞에 padding 왜 붙는지 몰라서 920 픽스 */
  height: 700px;
  /* background-color: #fff; */
  /* border: 10px dashed #fff; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.start .start-box li{
  display:inline-block;
}
.start .start-box .front{
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  color: #969696;
  font-size: 20px;
  margin: 10px;
  cursor: url(cursor.cur), auto;
}
.start .start-box .front:hover{
  transition: .3s;
  background-color: #5a5a5a;
  color: #dcdcdc;
  cursor: url(cursor.cur), auto;
}
.start .start-box .back{
  position: absolute;
  display: block;
  width: 920px;
  height: 700px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotateX(-180deg);
  backface-visibility: hidden;
}
.start .start-box .back.on{
  /* transition: .3s; */
  background-color: #fff;
  transform: perspective(1000px) rotateX(0deg);
}
.start .start-box .back .previous{
  position: absolute;
  display: block;
  color: #5a5a5a;
  top: 10px;
  right: 30px;
  font-size: 40px;
  font-weight: 1000;
  cursor: url(cursor.cur), auto;
}
.start .start-box .back .previous:hover{
  transition: .3s;
  color: #969696;
}

.start .start-box .back table{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 20rem;
  height: 20rem;
  border-spacing: 0;
  border: 1px solid black;
  cursor: url(cursor.cur), auto;
  table-layout:fixed;
}
.start .start-box .back table td{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #fff;      
  /* 이유모르겠음! */
}
.start .start-box .back table td.black{
  background-color: #000;
}
.start .start-box .back table td:hover{
  background: #000;
}
.start .start-box .back table td.no{
  background: #969696;
}

/* 하단버튼 */
.btns{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  width: 390px;
  height: 70px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 65px;
  color: #fff;
  cursor: url(cursor.cur), auto;
}
.btns .clock{
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #5a5a5a;
}
.btns .reset{
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #5a5a5a;
}
.btns .submit{
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  background-color: #5a5a5a;
}
.btns .reset:hover, .btns .clock:hover, .btns .submit:hover{
  transition: .3s;
  background-color: #969696;
}