.return a{
  left: 25px;
  top: 10px;
  position: absolute;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  text-decoration-line: none;
}
.return a:hover{
  transition: .3s;
  background-color: #5a5a5a;
  color: #dcdcdc;
}
.start .start-box{
  position: absolute;
  padding: unset;
  width: 920px;
  /* 앞에 padding 왜 붙는지 몰라서 920 픽스 */
  height: 700px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.start .start-box li{
  display:inline-block;
}
.start .start-box .front{
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #969696;
  color: #fff;
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}
.start .start-box .front:hover{
  transition: .3s;
  background-color: #5a5a5a;
  color: #dcdcdc;
}
.start .start-box .back{
  position: absolute;
  display: block;
  width: 920px;
  height: 700px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotateX(-180deg);
  backface-visibility: hidden;
}
.start .start-box .back.on{
  /* transition: .3s; */
  background-color: #fff;
  transform: perspective(1000px) rotateX(0deg);
}
.start .start-box .back .previous{
  position: absolute;
  display: block;
  color: #5a5a5a;
  top: 10px;
  left: 30px;
  font-size: 50px;
  font-weight: 1000;
  cursor: pointer;
}
.start .start-box .back .previous:hover{
  transition: .3s;
  color: #969696;
}

.start .start-box .back table{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 25rem;
  height: 25rem;
  border-spacing: 0;
  border: 1px solid black;
  cursor: pointer;
}
.start .start-box .back table td{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #fff;
}
.start .start-box .back table td.black{
  background-color: #000;
}
.start .start-box .back table td:hover{
  background: #000;
}

/* 하단버튼 */
.btns{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  width: 390px;
  height: 70px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 65px;
  color: #fff;
  cursor: pointer;
}
.btns .start{
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  background-color: #5a5a5a;
}
.btns .reset{
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  background-color: #5a5a5a;
}
.btns .submit{
  width: 100px;
  height: 50px;
  margin: 15px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  background-color: #5a5a5a;
}
.btns .reset:hover, .btns .start:hover, .btns .submit:hover{
  transition: .3s;
  background-color: #969696;
}